<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="entity.ImgMapper">

	<resultMap type="Img" id="imgResultMap">
		<id property="id" column="id" />
        <result property="name" column="name" />
        <result property="furnitureId" column="furnitureId" />
        <result property="addDate" column="addDate" />
	</resultMap>
	
	<select id="findById" parameterType="String" resultMap="imgResultMap">
		select id, name, furnitureId, addDate
		from img
		where img.id = #{id}
	</select>
	
	<select id="listAll" resultMap="imgResultMap">
		select id, name, furnitureId, addDate
		from img
	</select>
	
	<update id="insertOrUpdate" parameterType="Img">
		SET FOREIGN_KEY_CHECKS = 0;
		replace into img set
		id=#{id}, name=#{name}, furnitureId=#{furnitureId}, addDate=#{addDate};
		SET FOREIGN_KEY_CHECKS = 1;
	</update>
	
	<update id="batchInsertOrUpdate" parameterType="Img">
		SET FOREIGN_KEY_CHECKS = 0;
		<foreach collection="imgs" item="Img?uncap_first" separator=";" index="index">
		replace into img set id=#{img.id}, name=#{Img.name}, furnitureId=#{Img.furnitureId}, addDate=#{Img.addDate};
		</foreach>
		SET FOREIGN_KEY_CHECKS = 1;
	</update>
	
	<delete id="delete" parameterType="String">
		delete from img
		where img.id = #{id}
	</delete>
	
	<delete id="batchDelete" parameterType="String">
		delete from img
		where img.id in <foreach item="id" index="index" collection="ids" open="(" separator="," close=")">#{id}</foreach>
	</delete>
	
	<select id="countAll" resultType="long">
		select count(*) from img
	</select>
	
</mapper>