<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.panda.dao.ImgMapper">

	<resultMap type="cn.panda.entity.Img" id="imgResultMap">
		<id property="id" column="id" />
        <result property="name" column="name" />
        <result property="furnitureId" column="furnitureId" />
        <result property="addDate" column="addDate" />
	</resultMap>






</mapper>